@{
    ViewBag.Title = "Home Page";
}

<div class="center">
    <h2>Prueba Técnica DeltaMontero | Eduardo Loza</h2>
</div>


<div class="contenedor">
    <a class="btn btn-block btn-info" href="/Home/Ejercicio1">Ejercicio 1</a>
</div>
<div class="contenedor">
    <a class="btn btn-block btn-info"  href="/Home/Ejercicio2">Ejercicio 2</a>
</div>
<div class="contenedor">
    <a class="btn btn-block btn-info"  disabled="disabled" href="/Home/Ejercicio3">Ejercicio 3</a>
</div>
<div class="contenedor">
    <a class="btn btn-block btn-info" disabled="disabled" href="/Home/Ejercicio4">Ejercicio 4</a>
</div>
<div class="contenedor">
    <a class="btn btn-block btn-info"href="/Home/Ejercicio5">Ejercicio 5</a>
</div>
<div class="contenedor">
    <a class="btn btn-block btn btn-info" href="/Empledos/Index">Ejercicio 6</a>
</div>